@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  border-style: none;
  text-decoration: none;
  color: #EEE;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}

body {
  min-height: 100vh;
  background: #111;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.calculatorBody {
  background: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 50px;
}

#output {
  font-size: 4rem;
  text-align: right;
  width: 22.25rem;
  margin: .25rem;
}

button {
  width: 5rem;
  height: 5rem;
  border-radius: 50px;
  font-size: 2rem;
  margin: .25rem;
  transition: .5s;
}

.number {
  background: #444;
}

.number:hover {
  background: #666;
}

.operator {
  background: #df9d0e;
}

.operator:hover {
  background: #ffd06b;
}

#clear {
  width: 16.5rem;
  background: #777;
}

#clear:hover {
  background: #999;
}

.zero {
  width: 10.75rem;
}

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 0;
}

footer a {
  display: flex;
  align-items: center;
}

footer a p {
  color: #EEE;
}

.github {
  background: #EEE url("githubIcon.png") no-repeat;
  background-size: 100%;
  width: 1.25rem;
  height: 1.25rem;
  margin: .25rem;
  border: 2px solid #EEE;
  border-radius: 50%;
}